:root
{
  --c-bg: #68a5b0;
  --c-text:black;
  --font-size: 16px;

  --c-btn-bg: #96fffb;
  --c-btn-bg-hover: #3cfff9;
  --c-btn-text:black;

  --c-task-bg: #ccfffa;
  --c-task-border:black;
}

body {
  background-color: var(--c-bg);
  color: var(--c-text);
  font-size: var(--font-size);

  font-family: "Arial";

  margin: 0;
  padding: 0;
}

.container{
  display: flex;
  margin: 0 2rem;
  justify-content: center;
}

.button{
  background-color: var(--c-btn-bg);
  color: var(--c-btn-text);

  padding: 0.5rem 1rem;
  border-style: solid;
  border-width: 0.15rem;
  border-radius: 0.44rem;
  border-color: black;
  font-size: 1rem;
  font-weight: bold;
  min-width: 6rem;

  transition: 0.09s;

  &:hover{
    cursor: pointer;
    transform:scale(1.05);
    background-color: var(--c-btn-bg-hover);
  }
}

.header{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-style: solid;
  border-width: 0.3rem;
  border-radius: 1rem;
  width: 100%;
  margin: 1rem 0;

  background-color: #6eacb7;
  filter: drop-shadow(0 0 2rem #49e8da);
}

.header__form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.header__form>label{
  font-size: 1.3rem;
}

.header__input{
  border-radius: 0.4rem;
  border-style: none;

  font-size: 1.4rem;
  padding: 0.1rem;
}

.header__btn{
  font-size: 1.5rem;
}

.header__input-text-name{

}

.header__input-text-description{
  resize: none;
  min-width: 25rem;
  max-width: 25rem;
  min-height: 10rem;
  max-height: 10rem;
}

.header__input-text-date{

}

.header__header-text{
  font-size: 3rem;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.55);
  border-width: 0 0 0.1rem 0;
}

.column{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.tasks{
  display:flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.tasks__task{
  display:flex;
  flex-direction: column;

  background-color: var(--c-task-bg);

  border-style: solid;
  border-color: var(--c-task-border);
  border-radius: 2rem;
  padding: 1.2rem;

  max-width: 20rem;
  min-width: 20rem;

  max-height: 30rem;

  filter: drop-shadow(0 0 2rem #6dcfdc);
}

.tasks__task-thumbnail-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.tasks__task-thumbnail{
  aspect-ratio: 1/1;
  width: 200px;

  padding: 2rem;
}

.tasks__task-name-wrapper{

}

.tasks__task-name{
  margin: 0;

}

.tasks__task-description-wrapper{
  display:flex;
  flex-wrap: wrap;
  overflow-wrap: break-word;

  max-width: 100%;
}

.tasks__task-description{
  font-size: 1.2rem;
  box-sizing: border-box;
  max-width: 100%;

  height: 3rem;
}

.tasks__task-createdat-wrapper{

}

.tasks__task-createdat{
  font-weight: bold;
  font-size: 1rem;
}

.row-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.row-buttons-button{
  position: relative;
  bottom: 0;
}

.js-tasks{

}

.js-btn-createtask{

}

.js-input-taskname{

}

.js-input-taskdescription{

}
